*{
  margin: 0px ;
  padding: 0px ;
  font-family: monospace;
  color: #444444;
}
body{
  background-color: #F5FFFA;
}
#inicio {
  color: #000000;
  font-size: 75px;
  font-weight: bolder;
  font-style: oblique;
  font-family: cursive ;
  text-align: center;
  background-image: url('../imagens/fundo1.jpg');
}
#one ul{
  background-color: #ADD8E6;
  list-style-type: none;
  text-align: left;
  width: 200px;
  padding: 25px 0px 25.5% 0px;
}
#one ul a{
 color: #000000;
 text-decoration: none;
 display: block;
 padding: 5px 10px;
 border-left: 	#87CEEB  3px solid;
}
#one ul a:hover{
 background-color: #E0FFFF;
 border-left: #48D1CC  3px solid;

}
#menu-topo{
  padding: inherit;
}
#menu-topo ul{
  background-color: #48D1CC;
  padding: 10px;
  list-style-type: none;
  text-align: center;
}
#menu-topo ul li{
  display: inline;
}
#menu-topo ul a{
  color: #000000;
  font-weight: bolder;
  text-decoration:none;
  display: inline-block;
  padding: 1px 25px;
}
#menu-topo ul a:hover{
  text-decoration: underline;
}
#lateral{
  margin-left: 20%;
  margin-top: -37%;
}
